<%= render partial: 'user_profile', locals:{user: @user} %>
<div class="container">

  <div class="row">

    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to 'My Post', post_page_user_path(@user), class:'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'My Comment', comment_page_user_path(@user) , class:'nav-link'%>
      </li>
       <li class="nav-item">
        <a class="nav-link active" href="#">My Collect</a>
      </li>
       <li class="nav-item">
        <%= link_to 'My Draft', draft_page_user_path(@user) , class:'nav-link'%>
      </li>
       <li class="nav-item">
        <%= link_to 'My Friend', friend_page_user_path(@user) , class:'nav-link'%>
      </li>
    </ul>
    <table class="table mt-3 mb-5">
      <% @posts.each do |post| %>
        <tr>
          <th><%= link_to post.title, post_path(post)  %></th>
          <td><div class="post-show-control" data-pid=<%=post.id %>><%=collect_btn(post) %></div></td>
        </tr>
      <%end%>
    </table>

  </div>

</div>