<%= render partial: 'user_profile', locals:{user: @user} %>
<div class="container">

  <div class="row">

    <%=render partial:'user_nav' %>
    <table class="table mt-3 mb-5">
      <% @posts.each do |post| %>
        <tr>
          <th><%= link_to post.title, post_path(post)  %></th>
          <td><div class="post-show-control" data-pid=<%=post.id %>><%=collect_btn(post) %></div></td>
        </tr>
      <%end%>
    </table>

  </div>

</div>