<div class="container">
  <h1>編輯文章類別</h1>

  <nav class="nav nav-pills nav-justified"">
    <a class="nav-link active" href="#">Category</a>
    <%=link_to 'User', admin_users_path, class:'nav-link'%>
  </nav>
  <div class="mt-5">
    <%= simple_form_for [:admin,@category], wrapper: :inline_form, html:{class:'form-inline'} do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.button :submit ,'Create', class: 'btn btn-outline-primary ml-1' %>
    <%end%>
    <table class="table mt-3">
      <thead class="">
        <tr>
          <th scope="col">name</th>
          <th class="category-table-control" scope="col"> </th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category| %> 
        <tr data-id="<%=category.id%>">
          <td class="category-table-name"><%= category.name %></td>
          <td class="category-table-control"><i class="category-edit-btn fa mr-2 fa-pencil-square-o" aria-hidden="true"></i> <i class="category-delete-btn fa fa-trash" aria-hidden="true"></i></td>
        </tr>
        <%end%>
      </tbody>
    </table>
  </div>
  
</div>  


<script>
  $('.category-delete-btn').on('click',(e) =>{
    var category_id = e.target.parentNode.parentNode.dataset.id;
    $.ajax({
      url: "../admin/categories/" + category_id,
      method: "DELETE",
      dataType: "json",
      success: function(data) {
        $("[data-id=" + category_id + "]").remove();
      }
    });
  });

  $('.category-edit-btn').on('click',(e) =>{
    var category_id = e.target.parentNode.parentNode.dataset.id;
    console.log(category_id);
    $.ajax({
      url: "/admin/categories/" + category_id + "/edit",
      method: "GET",
      dataType: "json",
      success: function(data) {
        var textColumn = $("[data-id=" + category_id + "]").find(".category-table-name");
        textColumn.html($("#edit-template").html());
        textColumn.find(".update-name").val(data["name"]);
        textColumn.on("click",".update-button", (e)=>{
          e.preventDefault();
          console.log(textColumn.find(".update-name").val());
          $.ajax({
            url: "/admin/categories/" + category_id,
            method: "PATCH",
            dataType: "json",
            data: { 
              category : {
                name : textColumn.find(".update-name").val()
              }
            },
            success: function(updateData) {
              let textColumn = $("[data-id=" + category_id + "]").find(".category-table-name");
              textColumn.html(updateData["name"]);
            }
          });
        });
      }

    });
  });
</script>

<script type="text/template" id="edit-template">
  <form>
    <div class="input-group mb-3">
      <input type="text" class="form-control update-name" placeholder="輸入類別" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary update-button" type="button">update</button>
      </div>
    </div>

    
  </form>
</script>